.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 15px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s easy;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.auth-form {
  color: white;
  text-align: center;
  display: flex;
  min-height: 30vh;
  width: 400px;
  max-height: 500px;
  padding: 2rem;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  background-image: linear-gradient(79deg, #333136, #888588 48%, #24080f);
}

.auth-form-container,
.register-form,
.login-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

input:focus{
  outline: none;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  margin-top: 30px;
  font-weight: bold;
  color: rgb(50, 47, 47);
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}